@import "./src/styles/scss/mixin";

.form {
  max-width: 60rem;
  width: 100%;
  margin: 0 auto;

  &Body {
    padding: 20rem 0 10rem;
  }

  &Text {
    font-size: 1.6rem;
    font-style: normal;
  }
}
.btnIn{
  @include btn;
  display: inline-block;
  width: 15rem;
}
.btnInner {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.linkIn, .linkUp {
  color: var(--blue);
  font-weight: 700;
  cursor: pointer;
}
.inner{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 4rem;
}
.formText{
  margin-left: 2rem;
}
.btnReset{
  @include btn;
  margin-top: 2rem;
  margin-left: -2.4rem;
  transform: scale(.7);
}

@media screen and (max-width: 580px) {
  .formText {
    margin: 2rem 0 0 ;
  }
  .inner{
    flex-direction: column;
  }
  .btnIn{
    margin-bottom: 2rem;
  }

}