/*====Article====*/
.article {
  max-width: 50rem;
  width: 100%;
  margin: 2rem;
  height: 100%;
  transition: opacity 0.3s;
  position: relative;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &__link {
    max-width: 50rem;
    width: 100%;

  }

  &__image {
    height: 50rem;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 5rem;
    background-color: var(--white);
    position: absolute;
    left: 0;
    bottom: 6rem;
    width: 100%;
  }

  &__logo {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
  }

  &__title {
    font-size: 1.8rem;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: .6rem;
  }

  &__box-text {
    padding: 1rem;
    background-color: var(--blueDark);
  }

  &__text {
    width: 30rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    font-style: normal;
    color: var(--white);
    border: 1px solid var(--yellow);
    padding: 2rem 0;
  }

  &__footer {
    height: 7rem;
    background: var(--blueDark);
  }
}

@media screen and (max-width: 560px) {
  .article {
    margin: 2rem 0;

    &__content {
      padding: 0 1rem;
    }

    &__link {
      max-width: 50rem;
      width: 100%;
    }

    &__image {
      width: 100%;
    }

    &__text {
      width: 25rem;
    }
  }
}

@media screen and (max-width: 460px){
  .article{
    &__image{
      height: 40rem;
    }
    &__content{
      bottom: 4rem;
    }
  }
}

@media screen and (max-width: 420px) {
  .article {
    &__text {
      width: 20rem;
      font-size: 1.4rem;
      margin: 0;
    }

    &__image {
      height: 36rem;
    }

  }
}

@media screen and (max-width: 360px) {
  .article {
    margin: 1rem 0;

    &__text {
      font-size: 1.2rem;
    }
    &__image{
      height: 34rem;
    }
    &__content{
      bottom: 3rem;
    }
  }
}
