/*====Header====*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  &__inner {
    display: flex;
    justify-content: space-between;
    height: 7rem;
    align-items: center;
    padding: 0rem 5rem;
    background-color: var(--blueDark);
  }

  &__logo {
    margin-right: auto;
  }

  &__img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    transition: opacity .3s;

    &:hover,
    &:focus {
      opacity: .8;
    }
  }

  &__menu {
    margin-left: auto;
  }

  &__lang {
    margin-right: 1rem;
  }

  &-burger {
    display: none;
    width: 3rem;
    height: 3rem;
    transition: opacity 0.3s;
    margin-left: auto;
    cursor: pointer;

    &:hover,
    &:focus {
      opacity: 0.8;
    }

    span {
      display: block;
      width: 3rem;
      height: 0.4rem;
      border-radius: 2px;
      background-color: var(--white);
      position: relative;

      &::before,
      &::after {
        position: absolute;
        content: '';
        width: 3rem;
        height: 0.4rem;
        border-radius: 2px;
        background-color: var(--white);
      }

      &::before {
        margin-top: 8px;
      }

      &::after {
        margin-top: 16px;
      }
    }
  }
}

@media screen and(max-width: 1024px) {
  .header {
    &__inner {
      padding: 0 2rem;
      flex-direction: row-reverse;
    }

    &__lang {
      margin: 2rem 0rem;
    }

    &-burger {
      display: block;
    }
  }
}

@media screen and(max-width: 460px) {
  .header {
    &__inner {
      padding: 1.5rem;
    }

    &__lang {
      margin-right: 2rem;
    }
  }
}
