/*====News-Banner====*/
.news-banner {
  padding: 14rem 0 5rem;

  &__title {
    margin-bottom: 1rem;
  }

  &__subtitle {
    font-size: 2rem;
    font-weight: 700;
    color: var(--blue);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 7rem;
  }

  .tab__btn {
    &-news {
      font-size: 2.4rem;
      text-transform: uppercase;
      transition: all 0.3s;

      &:hover,
      &:focus {
        transform: scale(1.1);
        color: var(--blue);
      }

      &:active {
        transform: scale(0.8);
      }

      &.active {
        transform: scale(1.1);
        color: var(--blue);
      }
    }


    &-list {
      display: flex;
      justify-content: space-between;
      margin-bottom: 3rem;
      padding-bottom: 3rem;
      position: relative;

      &::before{
        content: '';
        position: absolute;
        width: 100vw;
        height: .4rem;
        background-color: var(--blue);
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

@media screen and (max-width: 690px) {
  .news-banner {
    .tab__btn-news {
      font-size: 1.8rem;
    }
  }
}

@media screen and (max-width: 520px) {
  .news-banner {
    .tab__btn-news {
      margin: 0 0 2rem;
    }

    &-list {
      flex-direction: column;
      margin-bottom: 2rem;
    }
  }
  .nav.nav-tabs.tab__btn-list.tab__news{
    flex-direction: column !important;
    text-align: center;
  }
}
