/*====Menu====*/
.search {
  position: relative;
  margin-left: 1rem;
  cursor: pointer;

  .icon-search {
    transition: color .3s;
  }

  &:hover,
  &:focus {
    .icon-search {
      color: var(--blue);
    }
  }

  &__img {
    width: 3rem;
  }

  &__form {
    position: absolute;
    right: 0;
    bottom: -5.8rem;

    &--active {
      display: block;
    }
  }

  &__input {
    width: 27rem;
    height: 4rem;
    padding: 0 6.6rem 0 1rem;
    font-size: 1.4rem;
    border: 3px solid var(--headerBg);
    position: relative;

    &::placeholder {
      font-size: 1.4rem;
    }
  }

  &__btn {
    position: absolute;
    right: 0;
    bottom: 0.2rem;
    padding: 0 1rem;
    background-color: var(--headerBg);
    width: 5rem;
    height: 3.6rem;
    font-weight: 700;
    color: var(--white);
    border: 1px solid var(--headerBg);
    transition: all 0.3s;

    &:hover,
    &:focus {
      background-color: var(--white);
      color: var(--headerBg);
    }
  }
}
