.swiper-container {
  width: 100%;
  padding: 16rem 0 5rem;
  position: relative;
  margin-bottom: 5rem;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 200px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
