@import "./src/styles/scss/mixin";

.btn {
  @include btn;

  transform: scale(.8);
  margin: 1rem 0 2rem;

  &Del {
    box-shadow: none;
    font-size: 1.8rem;
    font-style: normal;
    height: 4.2rem;
    margin: 1rem 0 2rem;
    border-radius: .6rem;
    border: none;
    transform: scale(.8);
  }
}
.tabBtnInner{
  display: inline-block;
  border-radius: .6rem .6rem 0 0;
  overflow: hidden;
}
.tabBtn{
  font-size: 1.6rem;
  font-style: normal;
  padding: .4rem 1rem;
  color: var(--blueDark);
  background-color: var(--blueLight);
  .active{

  }
}