.banner {
  padding-bottom: 5rem;
  display: flex;

  &__image {
    max-width: 60rem;
    width: 100%;
    margin-right: 3rem;
  }

  &__text {
    font-size: 1.6rem;
    font-style: normal;
    margin-top: 1.5rem;
    line-height: 1.4;
  }
}

.title {
  margin: 0 0 6rem;
  font-size: 3.6rem;
  font-weight: 700;
  color: var(--blue);
  text-align: center;
  text-transform: uppercase;
}

.inner {
  display: flex;
  justify-content: space-between;
  padding: 5rem 0;
  border-top: .4rem solid var(--blue);
  border-bottom: .4rem solid var(--blue);
}

.content {
  max-width: 60rem;

  &__image {
    max-width: 60rem;
    width: 100%;
    margin-right: 3rem;
    min-width: 40rem;
  }

  &__title {
    font-size: 3.6rem;
    font-style: normal;
    color: var(--blue);
    text-align: center;
    margin-bottom: 4rem;
  }

  &__text {
    font-style: normal;
    margin-bottom: 4rem;
  }

  &__lowTitle {
    font-size: 2.2rem;
    font-style: normal;
    color: var(--blue);
    margin-bottom: 3rem;
  }
}

.social {
  &__title {
    font-size: 2rem;
    font-style: normal;
    margin-bottom: 3rem;
  }

  &__list {
    display: flex;
  }
}

@media screen and(max-width: 992px) {
  .content {
    &__image img{
      height: 60%;
    }
  }
}

@media screen and(max-width: 768px) {
  .banner{
    flex-direction: column;
    align-items: center;
    &__image{
      margin-right: 0;
    }
  }
  .inner{
    flex-direction: column;
    align-items: center;
  }
  .content__image{
    margin-bottom: 4rem;
    margin-right: 0;
  }
}

@media screen and(max-width: 460px) {
  .content{
    &__image{
      min-width: 200px;
    }
  }
}